body{
	font-family: 'Roboto', sans-serif;
	background-color: white;
	margin:0 auto;
}
	
.main-header h1{
	margin-top: 0;
	background-color: #00b5c9;
	padding:15px;
	color:white;
}

.container{
	/*border: 1px solid  #8DABC2;*/
	display: flex;
	flex-direction: row;

}
.info{
	margin:auto;
}

.info-general{
	width: 33%;
	display: flex;
	flex-direction: column;
	margin:0 auto;
	margin: 0 1%;
	
}
.info-general h2{
	color:#00b5c9;
	font-size: 20px;

}

.columna1{
	color:#00b5c9;
	float: left;
	text-align: right;
}
.columna1 ul{
	list-style: none;
	padding-left: 0px;
}
.columna2{

	float:left;
	text-align:left;

}
.columna2 ul{
	list-style: none;
	padding-left:10px;

}
.cualidades{
	text-align: center;
	margin:auto;
}
.cualidades ul{
	list-style: none;
	display:inline-block;
	padding-left: 0px;
	

}	
.cualidades ul li{
	display:inline-block;
	margin: 5px 10px;
	background-color:#00b5c9;
	color:white;
	padding:10px;
	border-radius: 20px;

}
.foto{
	margin: 5%;
}
.foto img{
	width: 100%;
	border-radius: 5px;	
}

.motivaciones ul{
	list-style: none;
	padding-left: 0px;
}
.motivaciones li{
	margin-bottom: 5px;
	padding-left: 2px;

}
.motivaciones li:nth-child(odd){
	background-color: #cccccc;
	color:white;
}
.motivaciones li:nth-child(even){
	background-color: #f2f2f2;
	color:black;
}
.metas{
	margin-bottom: 3%;
}
.metas ul{
	padding-left: 20px;
	
}
.metas ul li{
	margin-bottom: 2px;
}

.biografia{
	background-color: #f2f2f2;
	width: 100%;
	padding-left: 5px;
	word-wrap: break-word;
	padding-right:5px;
}
.historial{
	margin-bottom:55px;
}
.historial ul{
	padding-left: 20px;
	
}
.historial ul li{
	margin-bottom: 2px;
}
.tecnologias ul {
	padding-left: 0px;
	list-style: none;

}
.tecnologias ul li{
	width: 90%;
	padding-bottom: 2px;
	
}

.Web{
	background: #00b5c9;
background: -moz-linear-gradient(left, #00b5c9 50%, #f2f2f2 50%);
background: -webkit-linear-gradient(left, #00b5c9 50%,#f2f2f2 50%);
background: linear-gradient(to right, #00b5c9 50%,#f2f2f2 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5c9', endColorstr='#f2f2f2',GradientType=1 );
}

.Movil{
background: #00b5c9;
background: -moz-linear-gradient(left, #00b5c9 9%, #f2f2f2 9%);
background: -webkit-linear-gradient(left, #00b5c9 9%,#f2f2f2 9%);
background: linear-gradient(to right, #00b5c9 9%,#f2f2f2 9%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5c9', endColorstr='#f2f2f2',GradientType=1 );
}

.Datos{
background: #00b5c9;
background: -moz-linear-gradient(left, #00b5c9 65%, #f2f2f2 65%);
background: -webkit-linear-gradient(left, #00b5c9 65%,#f2f2f2 65%);
background: linear-gradient(to right, #00b5c9 65%,#f2f2f2 65%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5c9', endColorstr='#f2f2f2',GradientType=1 );
}

.Redes{
	background: #00b5c9;
background: -moz-linear-gradient(left, #00b5c9 26%, #00b5c9 26%, #f2f2f2 26%, #f2f2f2 26%);
background: -webkit-linear-gradient(left, #00b5c9 26%,#00b5c9 26%,#f2f2f2 26%,#f2f2f2 26%);
background: linear-gradient(to right, #00b5c9 26%,#00b5c9 26%,#f2f2f2 26%,#f2f2f2 26%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5c9', endColorstr='#f2f2f2',GradientType=1 );
}

.tecnologias li:nth-child(even){
	margin-bottom: 3%;
}
.social{
	text-align: center;
	margin:auto;
	color: #00b5c9;
	font-size: 70px;
}
.social ul{
	list-style: none;
	display:inline-block;
	padding-left: 0px;

}
.social ul li{
	display:inline-block;
	margin: 5px 10px;
	padding:10px;


}
.social a{
	color:#00b5c9;
	margin-right:10px;
	text-decoration: none;
}
footer{
	margin-bottom: 0;
	background-color: #00b5c9;
	padding:5px;
	font-size: 15px;
	color:white;
	text-align: center;
}

@media screen and (max-width: 1530px){
	.cualidades ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	
	margin-top: 0px;
}
.info-general{
	margin-top: 0px;
}
}

@media screen and (max-width: 913px){
	.container{
	/*border: 1px solid  #8DABC2;*/
	display: flex;
	flex-direction: column;
	margin:auto;
	margin-right: 3%;
	margin-left: 3%;
}
.historial{
	margin-bottom:0px;
}
.info-general{
	width: 100%;
}
.cualidades ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	

}	
}